---
import { formatDate } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  page="blog"
  title={`Gianmarco Cavallo - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <main class="mx-auto max-w-3xl w-full h-screen p-8 text-[#cad3f5]">
    <a
      href="/blog"
      class="text-[#cad3f5] bg-[#1e2030] hover:bg-[#363a4f] px-4 py-2 border border-solid border-[#494d64] rounded-lg mb-8"
      >Back</a
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">{frontmatter.title}</h1>
      <div class="flex justify-between pt-4 text-[#939ab7] text-sm">
        <p>{formatDate(new Date(frontmatter.pubDate))}</p>
        <p>{frontmatter.minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-p:text-[#ed8796] prose-slate prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>
